<a href="https://colab.research.google.com/github/reytax81/apprentissage_python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# ***les librairie numpy et pandas***
[NUMPY](https://numpy.org/doc/)\
données structurée == tableau\
donnée non structurée == images, son\
donnée semi structuré == texte, livre etc..

#**DONNEES** **STRUCTUREE**

#Numpy ==> librairie pour calculs scientifique en python

In [5]:
# créer un ndarray (array)
# array, multiple element and axes (ie.ligne, colonne)
import numpy as np
#np.array (nb : possible de créer des nombres complexe dtype=complex)
#np.arrange (n) # créer un array de n element et 1 axe
#np.zeros(i,j) créer un array de shape ixj rempli de 0
#np.ones(i,j) créer un array ixj shape rempli de 1
#np.eyes(i,j) créer une matrice identité de dimension i,j
#np.random.rand(n) créer un array de dimension 1 aleatoire
#np.random.random(size=(i,j)) créer un array de dimension i,j random

#-----------------------------------------------------------------------#

#np.array (nb : possible de créer des nombres complexe dtype=complex)
np.array([1,2,3])

array([1, 2, 3])

In [6]:
#np.arrange (n) # créer un array de n element et 1 axe
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
#np.arange(n).reshape(i,j) reformate l'array de i et j axes

np.arange(24).reshape(6,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [11]:
#np.zeros(i,j) créer un array de shape ixj rempli de 0
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
#np.ones(i,j) créer un array ixj shape rempli de 1

In [15]:
#np.eye(i,j) créer une matrice identité de dimension i,j

In [12]:
#np.random.rand(n) créer un array de dimension 1 aleatoire de n elements
np.random.rand(10)

array([0.72234844, 0.37158953, 0.47279026, 0.58181697, 0.16929069,
       0.39987468, 0.19148779, 0.38651604, 0.33827565, 0.26361394])

In [17]:
#np.random.random(size=(i,j)) créer un array de dimension i,j random
np.random.random(size=(3,2))

array([[0.12303293, 0.99045355],
       [0.4649902 , 0.44197307],
       [0.52853255, 0.11078952]])

In [28]:
# indexing
# marche de la meme facon que les listes pour un array de dimension 1
# en multidimension un index est representé par un tuple [(i1:j1),(i2:j2)] || (i1,j1) = lignes, (i2,j2) = colonnes

my_array = np.random.rand(5)
print(my_array)
print(type(my_array))
print(my_array[3])

my_array_multidimension = np.random.rand(6).reshape(3,2)
print(my_array_multidimension)
print(my_array_multidimension[0:1,1])

[0.65723497 0.19086985 0.49635662 0.67714663 0.11128914]
<class 'numpy.ndarray'>
0.677146629060625
[[0.70397666 0.56101821]
 [0.10523703 0.74751797]
 [0.77199781 0.0293769 ]]
[0.56101821]

In [29]:
# np.shape, np.ndim, np.size
print(my_array_multidimension.shape) # forme de l'array (nombre d'element, nombre d'axes)
print(my_array_multidimension.ndim) # le nombre de dimension
print(my_array_multidimension.size) # le nombre total d'elements dans mon array

(3, 2)
2
6

In [32]:
# fonction mathematique np.cos, np.log, np.exp, np.sqrt etc...

my_array = np.arange(10).reshape(5,2)
print(my_array)
print(np.cos(my_array))
print(np.exp(my_array))

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
[[ 1.          0.54030231]
 [-0.41614684 -0.9899925 ]
 [-0.65364362  0.28366219]
 [ 0.96017029  0.75390225]
 [-0.14550003 -0.91113026]]
[[1.00000000e+00 2.71828183e+00]
 [7.38905610e+00 2.00855369e+01]
 [5.45981500e+01 1.48413159e+02]
 [4.03428793e+02 1.09663316e+03]
 [2.98095799e+03 8.10308393e+03]]

In [39]:
# fonction utiles np.sum, np.min, np.max, np.mean
print(my_array)
print(my_array.min())
print(my_array.max())
print(my_array.mean())
print(np.min(my_array))
print(np.max(my_array))
print(np.mean(my_array))

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
0
9
4.5
0
9
4.5

#LES MATRICES

In [42]:
# produit (multiplication) element par element

a = np.arange(16).reshape(4,4)
print(a)
b = np.random.rand(16).reshape(4,4)
print(b)

print(a*b)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[0.48910654 0.58338173 0.83794234 0.07814146]
 [0.9422251  0.90317375 0.37056079 0.84736763]
 [0.03955764 0.91425826 0.15842882 0.65382376]
 [0.55452041 0.93989284 0.2315907  0.11389384]]
[[ 0.          0.58338173  1.67588468  0.23442438]
 [ 3.7689004   4.51586876  2.22336476  5.9315734 ]
 [ 0.31646114  8.22832436  1.58428823  7.19206134]
 [ 6.65424496 12.2186069   3.24226979  1.70840753]]

In [44]:
# produit matriciel @ ou array1.dot(array2)

print(a @ b)
print(a.dot(b))

[[ 2.68490162  5.55136879  1.38219054  2.49669665]
 [10.7865404  18.91419511  7.77628114  9.26960338]
 [18.88817917 32.27702142 14.17037175 16.04251011]
 [26.98981794 45.63984774 20.56446236 22.81541684]]
[[ 2.68490162  5.55136879  1.38219054  2.49669665]
 [10.7865404  18.91419511  7.77628114  9.26960338]
 [18.88817917 32.27702142 14.17037175 16.04251011]
 [26.98981794 45.63984774 20.56446236 22.81541684]]

In [47]:
# transposer .T ou np.transpose()

print(a)
print(a.T)
print(np.transpose(a))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 0  4  8 12]
 [ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]]
[[ 0  4  8 12]
 [ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]]

In [48]:
# matrice inversible voir wikipedia pour definition
#np.linalg.inv(matrix) matrix carré a non singuliere 

np.linalg.inv(np.random.rand(16).reshape(4,4))

array([[ 0.10434901, -0.04778609,  1.9134684 , -1.44704081],
       [ 4.47550256, -4.54086977, -5.13947124,  5.01374441],
       [-3.5138126 ,  7.03485397,  4.81476069, -7.22486784],
       [-3.45836275,  1.15579096,  1.6203527 ,  1.12883376]])

# **PANDAS**
# [**PANDAS DOCUMENTATION**](https://pandas.pydata.org/docs/)

In [52]:
# les objets en pandas series et dataframe
#pd.series(list/array,index=[...])
#pd.series(dict)
#pd.DataFrame(array, index=[...])
#pd.DataFrame(dict avec list comme value)
import pandas as pd

print(pd.Series(np.array([1,2,3])))
print(pd.Series([5,6,7]))

0    1
1    2
2    3
dtype: int64
0    5
1    6
2    7
dtype: int64

In [54]:
#pd.DataFrame(array, index=[...])
#pd.DataFrame(dict avec list comme value)

pd.DataFrame({ 'colonne1':[1,2,3],
              'colonne2':[5,4,7]})

   colonne1  colonne2
0         1         5
1         2         4
2         3         7

In [62]:
#df.head(n) afficher les n premiere lignes de notre DF

df_covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-19-2020.csv')

df_covid.head(10)

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     17  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    103          Acadia, Louisiana, US
2  51001.0   Accomack  ...     42         Accomack, Virginia, US
3  16001.0        Ada  ...    588                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US
5  21001.0      Adair  ...     50            Adair, Kentucky, US
6  29001.0      Adair  ...     12            Adair, Missouri, US
7  40001.0      Adair  ...     40            Adair, Oklahoma, US
8   8001.0      Adams  ...    880            Adams, Colorado, US
9  16003.0      Adams  ...      1               Adams, Idaho, US

[10 rows x 12 columns]

In [64]:
# set_index(), reset_index()index[], reindex(columns=[]), definir un index

df_covid.set_index('Country_Region').head(5)

                   FIPS     Admin2  ... Active                   Combined_Key
Country_Region                      ...
US              45001.0  Abbeville  ...     17  Abbeville, South Carolina, US
US              22001.0     Acadia  ...    103          Acadia, Louisiana, US
US              51001.0   Accomack  ...     42         Accomack, Virginia, US
US              16001.0        Ada  ...    588                 Ada, Idaho, US
US              19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 11 columns]

In [ ]:
#pour enregistrer le changement d'index 
#df_covid = df_covid.set_index('Country_Region').head(5)
#df_covid.set_index('country_Region', inplace=True).head(5)

In [ ]:
# renommer les colonnes et index df.rename(columns={old_name:new_name}, index={old_name:new_name})

#df_covid.rename(columns={'admin2':'admin'})
#df_covid.head(2)

In [67]:
# acceder aux donnée
# boolean, selectionner certaines données

df_covid[df_covid['Country_Region'] == 'US'].shape

(2810, 12)

In [68]:
df_covid.shape

(3075, 12)

In [69]:
(df_covid[df_covid['Country_Region'] == 'US'].shape[0]/df_covid.shape[0])*100

91.3821138211382

In [70]:
#df_covid.columns
df_covid.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key'],
      dtype='object')

In [74]:
#acceder a des colonnes en particulier 
df_covid[['Confirmed', 'Deaths', 'Recovered', 'Active']]

      Confirmed  Deaths  Recovered  Active
0            17       0          0      17
1           110       7          0     103
2            42       0          0      42
3           598      10          0     588
4             1       0          0       1
...         ...     ...        ...     ...
3070        437       3         71     363
3071          1       0          0       1
3072         61       3         33      25
3073         25       3          2      20
3074          0       0          0       0

[3075 rows x 4 columns]

In [75]:
#df.loc[nom_index] acceder à la ligne qui correspond a l'index
#df.iloc[numero_ligne] acceder aux valeur d'un certain numero de ligne
df_covid.set_index('Country_Region').loc['US']

                   FIPS     Admin2  ... Active                   Combined_Key
Country_Region                      ...
US              45001.0  Abbeville  ...     17  Abbeville, South Carolina, US
US              22001.0     Acadia  ...    103          Acadia, Louisiana, US
US              51001.0   Accomack  ...     42         Accomack, Virginia, US
US              16001.0        Ada  ...    588                 Ada, Idaho, US
US              19001.0      Adair  ...      1                Adair, Iowa, US
...                 ...        ...  ...    ...                            ...
US                 66.0        NaN  ...    131                       Guam, US
US                 69.0        NaN  ...     12   Northern Mariana Islands, US
US                 72.0        NaN  ...   1151                Puerto Rico, US
US                  NaN        NaN  ... -70337                  Recovered, US
US                 78.0        NaN  ...     50             Virgin Islands, US

[2810 rows x 11 columns]

In [76]:
# recuperation d'une ligne en particulier ici la 4
df_covid.iloc[4]

FIPS                            19001
Admin2                          Adair
Province_State                   Iowa
Country_Region                     US
Last_Update       2020-04-19 23:41:01
Lat                           41.3308
Long_                        -94.4711
Confirmed                           1
Deaths                              0
Recovered                           0
Active                              1
Combined_Key          Adair, Iowa, US
Name: 4, dtype: object

In [77]:
#loc et iloc peuvent prendre plusieur dimension entre crochets
#df.loc[nom_index, colonne] loc et iloc peuvent prendre plusieurs dimension

df_covid.set_index('Country_Region').loc['US',['Active','Deaths']]

                Active  Deaths
Country_Region
US                  17       0
US                 103       7
US                  42       0
US                 588      10
US                   1       0
...                ...     ...
US                 131       5
US                  12       2
US                1151      62
US              -70337       0
US                  50       3

[2810 rows x 2 columns]

In [78]:
# modifier les données 
# df.insert(position, nom_colonne, valeurs) inserer une colonne

df_covid[['Active','Deaths']]

      Active  Deaths
0         17       0
1        103       7
2         42       0
3        588      10
4          1       0
...      ...     ...
3070     363       3
3071       1       0
3072      25       3
3073      20       3
3074       0       0

[3075 rows x 2 columns]

In [ ]:
# fonction utiles df.summary(), df.info(), df.describe(), serie.value_counts()

In [79]:
df_covid.describe()

               FIPS          Lat  ...     Recovered         Active
count   2799.000000  3014.000000  ...   3075.000000    3075.000000
mean   31226.101108    36.669896  ...    203.002602     524.366179
std    17232.001408     9.985197  ...   3171.394172    5103.319653
min       66.000000   -51.796300  ...      0.000000  -70337.000000
25%    18108.000000    33.792053  ...      0.000000       4.000000
50%    29123.000000    37.852768  ...      0.000000      17.000000
75%    46061.000000    41.526385  ...      0.000000      78.000000
max    99999.000000    71.706900  ...  88000.000000  124249.000000

[8 rows x 7 columns]

In [81]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2799 non-null   float64
 1   Admin2          2803 non-null   object
 2   Province_State  2894 non-null   object
 3   Country_Region  3075 non-null   object
 4   Last_Update     3075 non-null   object
 5   Lat             3014 non-null   float64
 6   Long_           3014 non-null   float64
 7   Confirmed       3075 non-null   int64
 8   Deaths          3075 non-null   int64
 9   Recovered       3075 non-null   int64
 10  Active          3075 non-null   int64
 11  Combined_Key    3075 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 288.4+ KB

In [90]:
df_covid['Country_Region'].value_counts()

US                2810
China               34
Canada              15
United Kingdom      12
France              11
                  ...
Laos                 1
Oman                 1
Mexico               1
Italy                1
Somalia              1
Name: Country_Region, Length: 185, dtype: int64

In [91]:
df_covid[df_covid['Country_Region']=='France']

      FIPS Admin2  ... Active                       Combined_Key
2820   NaN    NaN  ...     32              French Guiana, France
2821   NaN    NaN  ...     53           French Polynesia, France
2828   NaN    NaN  ...     67                 Guadeloupe, France
2848   NaN    NaN  ...     78                 Martinique, France
2849   NaN    NaN  ...    150                    Mayotte, France
2852   NaN    NaN  ...      3              New Caledonia, France
2869   NaN    NaN  ...    171                    Reunion, France
2870   NaN    NaN  ...      1           Saint Barthelemy, France
2872   NaN    NaN  ...      1  Saint Pierre and Miquelon, France
2881   NaN    NaN  ...     16                  St Martin, France
2951   NaN    NaN  ...  96598                             France

[11 rows x 12 columns]

In [93]:
# df.copy() copier votre df pour le dupliquer
df_covid2 = df_covid # df_covid2 va aussi modifier df_covid !!
df_covid2 = df_covid.copy() #df_covid2 ne modifiera plus df_covid